<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <leanpay>
                <payment_action>authorize</payment_action>
                <model>Leanpay\Payment\Model\Method\Leanpay</model>
                <active>1</active>
                <allowspecific>0</allowspecific>
                <title>Leanpay</title>
                <order_status>sale</order_status>
                <allowspecific>0</allowspecific>
                <mode>DEV_MODE</mode>
                <leanpay_base_url>https://app.leanpay.si</leanpay_base_url>
                <leanpay_base_url_dev>https://stage-app.leanpay.si</leanpay_base_url_dev>
                <installment_cron>0 2 * * *</installment_cron>
                <installment_allowed_views>HOMEPAGE,PRODUCT_PAGE,CATEGORY_PAGE</installment_allowed_views>
                <checkout_url>checkout/index/index</checkout_url>
                <instructions><![CDATA[Leanpay omogoča hitro in enostavno obročno odplačevanje preko spleta.]]></instructions>
                <api_endpoint_type>SLO</api_endpoint_type>
            </leanpay>
            <leanpay_installment>
                <model>Leanpay\Payment\Model\Method\LeanpayInstallment</model>
                <color>#F58466</color>
                <background_color>#F58466</background_color>
                <font_size_homepage>15</font_size_homepage>
                <font_size_product_page>15</font_size_product_page>
                <font_size_catalog_page>15</font_size_catalog_page>
                <more_info>https://www.leanpay.si/</more_info>
                <check_your_limit>https://app.leanpay.si/vendor/pre-qualified</check_your_limit>
                <use_dark_logo>0</use_dark_logo>
                <group>SPLET - REDNA PONUDBA</group>
            </leanpay_installment>
        </payment>
        <leanpay_promos>
            <aropd>
                <module_enabled>0</module_enabled>
                <cron_frequency>daily</cron_frequency>
            </aropd>
        </leanpay_promos>
        <!-- Fix broken checkout caused by Magento 2.4.7-p1 update -->
        <csp>
            <mode>
                <storefront_checkout_index_index>
                    <report_only>1</report_only>
                </storefront_checkout_index_index>
                <admin_sales_order_create_index>
                    <report_only>1</report_only>
                </admin_sales_order_create_index>
            </mode>
            <policies>
                <storefront_checkout_index_index>
                    <scripts>
                        <inline>1</inline>
                    </scripts>
                </storefront_checkout_index_index>
                <admin_sales_order_create_index>
                    <scripts>
                        <inline>1</inline>
                    </scripts>
                </admin_sales_order_create_index>
            </policies>
        </csp>
    </default>
</config>
